*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 20px;
}

section{
    
    width: 70%;
    min-height: 90vh;
}
.cardDiv{
    width: 90%;
    min-height: 10vh;
    margin-top: 2%;
    margin-left: 10%;

}
.card{

    width: 90%;
    min-height: 10vh;
    border: solid 2px rgb(112, 17, 90);
    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: 2%;

}
.addTodo{
    font-size: 150%;
    font-weight: bolder;
    margin-left: 30%;
}
.btn{
    width: 20%;
    height: 4vh;
    margin: 1%;
}
#main{
    display: flex;
    flex-direction: column;
    width: 75%;
    min-height: 90vh;
    border: 2px solid grey;
    margin-left: 35%;
}
.addDiv{
    display: flex;

}
.inputs{
    width: 30%;
    height: 5vh;
    margin: 1%;
}
#title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    background-color: rgb(235, 226, 226);
}

.delete{
    width: 150px;
    height: 30px;
    background-color: grey;
    color: honeydew;
}

.delete:hover{
    background-color: rgb(216, 207, 207);
    color: black;
}
#title input{
    width: 250px;
    height: 30px;
    border: 2px dotted grey;
}

